.heading {
  font-weight: bold;
}
.heading--large {
  font-size: calc(1em + 1vw);
}
.slider__heading {
  font-size: calc(1em + 0.25vw);
  color: var(--light);
}
figure, p, menu {
  margin: 0;
  padding: 0;
}
.img-responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
menu > li {
  list-style-type: none;
}

/* button */
.btn {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--light);
  border: none;
  border-radius: 2em;
}
.btn--thin {
  padding: 0.75em 1.25em;
  font-size: 0.9em;
}
.btn:hover {
  text-decoration: underline;
  border: 1px solid currentColor;
  color: var(--primary);
  cursor: pointer;
  background-color: transparent;
}
.color--primary {
  color: var(--primary);
}

/* page */
.page__header {
  text-align: center;
  padding: 2em;
}
.page__logo {
  display: inline-block;
}
.page__logo > span {
  display: none;
}
.page__logo::before {
  content: "";
  display: block;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 16em;
  height: 2.5em;
}