@layer reset, page, components;
@import url(normalize.css) layer(reset);
@import url(components.css) layer(components);

@layer page {
  :root {
    --light: #ffffff;
    --primary: #f5841f;
    --border: #cccccc;
  }
  html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
  }
  
  /* Layout */
 
  
}