@layer reset, components, page;
@import url(normalize.css) layer(reset);
@import url(components.css) layer(components);

@layer page {
  :root {
    --light: #ffffff;
    --dark: #2b2b2b;
    --black: #000;
    --primary: #ea7603;
    --border: #cccccc;
  }
  html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
  }
  
  /* Layout */
  .page {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Slider */
  .slider {
    position: relative;
    text-align: center;
  }
  .slider__title {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 3em 1em 0 1em;
    pointer-events: none;
  }
  #slide-counter {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  .slider__item {
    position: relative;
    min-height: 400px;
    overflow: hidden;
    display: none;
  }
  .slider-view {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-view__front {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: inherit;
    pointer-events: none;
  }
  .slider-view__description {
    width: max-content;
    font-size: 3em;
    font-weight: bold;
    color: var(--primary);
  }

  /* .slider-view__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    font-size: 3em;
    font-weight: bold;
    color: var(--primary);
  } */

  .slider-view__back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    background-color: var(--black);
  }
  .slider-view__back > .slider-view__description {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    display: inline-block;
    width: 1200px;
    color: var(--light);
  }

  /* Controls */
  .controls__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
  }
  .controls__dots > li {
    
  }
  .controls__dots .dot {
    padding: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid var(--primary);
    background-color: unset;
    border-radius: 50%;
  }
  .controls__dots .dot:hover {
    background-color: var(--primary);
  }
}