@layer reset, page, components;
@import url(normalize.css) layer(reset);
@import url(components.css) layer(components);

@layer page {
  :root {
    --light: #ffffff;
    --primary: #f5841f;
    --border: #cccccc;
  }
  html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
  }
  
  /* Layout */
  .page {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "page__header"
      "page__form"
      "page__preview"
      "page__source";
    padding: 1em;
    gap: 2em;
  }
  .page__header {
    grid-area: page__header;
  }
  .page__form {
    grid-area: page__form;
  }
  .page__preview {
    grid-area: page__preview;
  }
  .page__source {
    grid-area: page__source;
  }
  @media (min-width: 768px) {
    .page {
      grid-template-columns: 1fr minmax(300px, 400px) minmax(300px, 600px) 1fr;
      grid-template-areas:
        "page__header page__header page__header page__header"
        ". page__form page__preview ."
        ". page__form page__source . ";
      grid-row-gap: 2em;
      grid-column-gap: 6em;
    }
  }

  /* Obecné */
  #source-code {
    overflow-x: scroll;
    font-size: 0.8em;
  }

  /* Formulář */
  .mail-form {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
  }
  .mail-form__label {
    display: block;
    font-weight: bold;
    margin: 1em 0 0.25em 0;
  }
  .mail-form__input {
    display: block;
    width: calc(100% - 1.5em - 2px);
    padding: 0.75em;
    border: 1px solid var(--border);
    border-radius: 3px;
  }
  .mail-form__input:focus {
    border: 1px solid var(--primary);
    box-shadow: none;
    outline: none;
  }
}
